@color-black: #000;
@color-white: #fff;

@color-dark-primary: #455A64;
@color-dark-primary-r: 69;
@color-dark-primary-g: 90;
@color-dark-primary-b: 100;

@color-default-primary: #607D8B;
@color-default-primary-r: 96;
@color-default-primary-g: 125;
@color-default-primary-b: 139;


@color-light-primary: #CFD8DC;
@color-text-primary: #FFFFFF;
@color-accent: #FF5252;
@color-primary-text: #212121;
@color-secondary-text: #757575;
@color-line: #BDBDBD;
