//out: components.css
@import "colors.less";
@import "helpers.less";

a {
    text-decoration: none;
    color: @color-accent;
}

.movie-box {
    width: 100%;
    background: darken(@color-primary-text, 10%);
    .image {
        border-bottom: @color-accent 2px solid;
        img {
            width: 100%;
        }
    }
    .title {
        padding: 10px;
        font-size: 90%;
        cursor: pointer;
        &:hover {
            color: @color-accent;
        }
    }
}
.movie-list-item {
    background: @color-black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    overflow: auto;
    img {
        display: block;
        width: 50px;
        float: left;
        margin-right: 10px;
    }
    div {
        p:first-child {
            font-weight: bold;
            color: @color-accent;
        }
    }
}

.index-two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .right-pane {
        margin: 20px 0 0 20px;
        background-color: darken(rgba(@color-accent-r, @color-accent-g, @color-accent-b, 0.9), 50%);
    }
}

.movie-thumbs {
    .light-grey-background;
    table {
        .grid-table;
    }
    h1, h2, h3 {
        color: darken(@color-accent, 50%);
    }
}
.news {
    .light-grey-background;
    div {
        overflow: auto;
        p {
            img {
                float: left;
                margin-right: 10px;
            }
        }
    }
    a.readmore {
        color: darken(@color-accent, 20%);
        background-color: lighten(@color-dark-primary, 20%);
        display: inline-block;
        padding: 2px;
    }
    h1, h2, h3 {
        color: darken(@color-accent, 50%);
    }
    p {
        color: darken(@color-primary-text, 5%);
        line-height: 1.5em;
    }
}

.movie-list {
    margin-bottom: 50px;
}
