//out: components.css
@import "colors.less";
@import "helpers.less";

a {
    text-decoration: none;
    color: @color-accent;
}

.movie-box {
    width: 100%;
    background: darken(@color-primary-text, 10%);
    .image {
        border-bottom: @color-accent 2px solid;
        img {
            width: 100%;
        }
    }
    .title {
        height: 2em;
        padding: 10px;
        font-size: 1em;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            color: @color-accent;
        }
    }
}
.movie-list-item {
    background: @color-black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    overflow: auto;
    img {
        display: block;
        width: 50px;
        float: left;
        margin-right: 10px;
    }
    div {
        p:first-child {
            font-weight: bold;
            color: @color-accent;
        }
    }
}

.index-two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .right-pane {
        margin: 20px 0 0 20px;
        background-color: darken(rgba(@color-accent-r, @color-accent-g, @color-accent-b, 0.9), 50%);
    }
}

.movie-thumbs {
    .light-grey-background;
    table {
        .grid-table;
    }
    h1, h2, h3 {
        color: darken(@color-accent, 50%);
    }
}
.news {
    .light-grey-background;
    div {
        overflow: auto;
        p {
            img {
                float: left;
                margin-right: 10px;
            }
        }
    }
    a.readmore {
        color: darken(@color-accent, 20%);
        background-color: lighten(@color-dark-primary, 20%);
        display: inline-block;
        padding: 2px;
    }
    h1, h2, h3 {
        color: darken(@color-accent, 50%);
    }
    p {
        color: darken(@color-primary-text, 5%);
        line-height: 1.5em;
    }
}

.movie-list {
    margin-bottom: 50px;
}

#all-movies {
    display: grid;
    grid-template-columns: 70px auto;
    margin-top: 20px;
    background-color: darken(rgba(@color-accent-r, @color-accent-g, @color-accent-b, 0.9), 50%);
    .letters {
        width: 50px;
        padding: 10px;
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0 0 10px 0;
                cursor: pointer;
                &:hover {
                    color: @color-accent;
                }
            }
        }
    }
    .movie-thumbs {
        .movie-thumbs;
        margin: 0;
    }
}

#movie-details {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: darken(rgba(@color-accent-r, @color-accent-g, @color-accent-b, 0.9), 60%);
    z-index: 5;
    display: none;
    .wrapper {
        width: 1024px;
        margin: 20px auto;
        background: lighten(@color-black, 10%);
        .bar {
            text-align: right;
            padding: 1px;
            .close {
                background: @color-accent;
                padding: 5px;
                cursor: pointer;
            }
        }
        .content {
            padding: 20px;
        }
    }
}

.celeb-box {
    width: 200px;
    float: left;
    margin-right: 10px;
    background: @color-black;
    color: @color-white;
    div {
        img {
            width: 200px;
            height: 250px;
        }
    }
    .details {
        color: @color-white;
        padding: 10px;
        p {
            color: @color-white;
        }
    }
}

#celebs-container {
    display: grid;
    grid-template-columns: 70px auto;
    margin-top: 20px;
    .letters {
        width: 50px;
        padding: 10px;
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
        background-color: darken(rgba(@color-accent-r, @color-accent-g, @color-accent-b, 0.9), 50%);
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0 0 10px 0;
                cursor: pointer;
                &:hover {
                    color: @color-accent;
                }
            }
        }
    }
    .celeb-thumbs {
        padding: 20px;
        background: @color-default-primary;
        h1, h2, h3 {
            color: darken(@color-accent, 50%);
        }
    }
}
