/*
amber_50        #FFF8E1
amber_100       #FFECB3
amber_200       #FFE082
amber_300       #FFD54F
amber_400       #FFCA28
amber_500       #FFC107
amber_600       #FFB300
amber_700       #FFA000
amber_800       #FF8F00
amber_900       #FF6F00
amber_A100      #FFE57F
amber_A200      #FFD740
amber_A400      #FFC400
amber_A700      #FFAB00
*/

@font-face {
    font-family: Ubuntu-regular;
    src: url('../fonts/Ubuntu-R.ttf');
}

body {
    font-family: Ubuntu-regular, sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "siteheader"
    "navbar"
    "sidebar"
    "maincontent"
    "footer"
}

a {
    text-decoration: none;
    color: #ffffff;
}

pre {
    background: #CFD8DC;
    line-height: 1.5em;
    padding: 5px;
}
#site-header {
    grid-area: siteheader;
    background: #FFB300; /* amber_600 */
    color: #ffffff;
    padding: 5px 10px;
    font-size: 16pt;
    z-index: 5;
}

#site-header > span {
    font-size: 12pt;
    color: #FFF8E1; /* amber_50 */
}

#navbar {
    grid-area: navbar;
    background: #FFC107; /* amber_500 */
    min-height: 37px;
    vertical-align: middle;
    display: block;
    color: #ffffff;
    padding: 0 20px;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.2);
    z-index: 5;
}

#navbar > a {
    display: inline-block;
    padding: 10px;
    background: #FFAB00; /* amber_A700 */
    font-size: 11pt;
    margin: 0 2px;
}
#navbar > a:hover {
    display: inline-block;
    padding: 10px;
    background: #FFC400; /* amber_A400 */
}

#sidebar {
    grid-area: sidebar;
    background: #FFECB3; /* amber_100 */
    color: #FF8F00; /* amber_800 */
    padding: 20px;
    box-shadow: 2px 0 2px  rgba(0, 0, 0, 0.2);
    z-index: 4;
}
#sidebar-links {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    list-style-type: none;
    color: #FF8F00; /* amber_800 */
    border-bottom: thin solid #FF8F00; /* amber_800 */
}
#sidebar-links li {

}
#sidebar-links li a {
    display: block;
    background: #FFF8E1; /* amber_50 */
    padding: 5px;
    font-size: 11pt;
    color: #FFAB00; /* amber_A700 */
}

#main-content {
    grid-area: maincontent;
    padding: 10px 10px 10px 20px;
    color: #FF6F00; /* amber_900 */
    line-height: 2em;
}
#footer {
    grid-area: footer;
    background: #FFB300; /* amber_600 */
    color: #ffffff;
    font-size: 11pt;
    padding: 5px;
    box-shadow: 2px 0 2px  rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 4;
}

@media screen and (min-width: 736px) {
    body {
        font-family: Ubuntu-regular, sans-serif;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "siteheader siteheader"
        "navbar navbar"
        "sidebar maincontent"
        "footer footer"
    }
    #site-header {
        padding: 10px 25px;
        font-size: 24pt;
    }

    #site-header > span {
        font-size: 16pt;
    }
}
