body {
	background-color: #FF7043;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.image-container {
	margin: 0;
	min-height: 100px;
	animation-name: carousel;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.image-container > h2 {
	padding: 0;
	margin: 0;
	color: #DD2C00;
	font-size: 24pt;
}

@keyframes carousel {
	0% {
		background-image: url('../images/app_models_video_cover_h00000110201627120435.jpg');
	}
	25% {
		background-image: url('../images/9923_ho_05_p_2048x1536.jpg');
	}
	50% {
		background-image: url('../images/82642217.jpg');
	}
	75% {
		background-image: url('../images/2-maldives-aqua-bar-640x457.jpg');
	}
	100% {
		background-image: url('../images/35050452.jpg');
	}
}

nav {
	background-color: #EF5350;
	padding: 0 20px;
	display: block;
}

nav a {
	display: inline-block;
	padding: 5px;
	margin: 0 2px;
	color: #ffffff;
	text-decoration: none;
	background: #E53935;
}

nav a:hover {
	background: #E57373;
}

nav a.active {
	background: #FF1744;
}

.left-sidebar, .right-sidebar {
	background: #EF9A9A;
	vertical-align: top;
	padding: 10px;
	color: #D50000;
}
.left-sidebar {
	width: 15%;
}
.left-sidebar ul {
	padding: 20px;
	margin: 0;
	line-height: 2em;
}

.left-sidebar ul li a {
	color: #D50000;
}

.right-sidebar {
	width: 20%;
}

.main-content {
	background: #E53935;
	padding: 20px;
	color: #FFD600;
	vertical-align: top;
}

.main-content h2 {
	color: #ffffff;
	border-bottom: thin solid #ffffff;
}

.careers > div {
	display: inline-block;
	background: #E57373;
	min-height: 150px;
	min-width: 200px;
	padding: 10px;
	margin: 5px;
}

.progress {
	height: 20px;
	background: #B0BEC5;
	margin-bottom: 5px;
	color: green;
}

.progress span {
	height: 100%;
	background: #E91E63;
	display: inline-block;
	padding: 0 5px;
	color: white;
}
.gallery img {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 2px;
}
.calendar tr td {
	text-align: center;
	cursor: pointer;
}
.day-names td {
	background: #FF6D00;
	color: #D50000;
}
.footer {
	text-align: center;
	font-size: 9pt;
	background: #F44336;
	padding: 2px;
	color: #fff;
}